.DS_Store
app/dist/*
builds/*
build/*
dist
node_modules/*
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
app/node_modules/*
!app/node_modules/vue-progressbar
app/node_modules/vue-progressbar/node_modules/*
./yarn.lock